
<div *ngFor="let col of cols">
  <div id="Col1" class="colu">
      <div class="ColTitleContainer">
        <h2 class="ColTitle" contentEditable="true" spellcheck="false">{{col.title}}</h2>
        <div class="alignRight">
          <button style="margin-left: auto;" type="button" class="btn btn-success">
            <b>+</b>
          </button>
          <button style="margin-left: auto;" type="button" class="btn btn-danger">
            <b>-</b>
          </button>
        </div>
      </div>
      <hr class="whitehr">
      <div id="ColBody">
          <ul class="column">
            <app-card></app-card>
          </ul>
      </div>
  </div>
</div>
